body {
  margin: 0;
  background-color: #fff6f6;
  display: flex;
  justify-content: center;  
  align-items: flex-start;
  min-height: 100vh;
  position: relative;
}

.wrap,
.mobile_wrap {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.section_1,
.sec2_title,
.section_3,
.section_4,
.sec5_title {
  padding: 80px 20px 0;
}

.section_1_2,
.section_1_2_food,
.sec_2_con_wrap,
.sec_5_sub{
  padding-left: 20px;
}

.section_2 h3,
.section_3 h3,
.section_5 h3 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 28px;
}

