@import url(reset.css);
@import url(common.css);

.wrap{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

header{
    width: 100%;
    position: fixed;
    z-index: 100;
    /* font-family: "Istok Web", sans-serif; */
}

.header_up {
    height: 30px;
    /* background-color: #d40047; */
    background-color: #d41935;
}

.header_up p { 
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-align: center;
    letter-spacing: -2px;
    line-height: 30px;
}

.header_down {
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 50px;
}

.menu_wrap{
    width: 510px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 135px;
}

li a{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1px;
    color: #d41935;
}

.header_icons{
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_bar{
    display: none;
    cursor: pointer;
}

#check_input,
.menu_btn_wrap{
    display: none;
}  


@media screen and (max-width: 768px){

    .header_up{
        height: 20px;
    }

    .header_up p { 
        font-size: 10px;
        line-height: 20px;
        letter-spacing: -1px;
    }
    
    .header_down {
        height: 60px;
    }

    .logo img{
         width: 38px;
    }

    .menu_wrap,
    .header_icons{
        display: none;
    }

    .menu_bar{
        display: block;
        position: relative;
        z-index: 10;
    }

    .menu_btn_wrap{
        display: block;
        width: 100%;
        height: 0;
        /* background-color: #fff; */
        background: rgba(225, 225, 225, 0.4); /* 반투명 어두운 배경 */
        position: absolute;
        top: 0;
        right: 0;
        transition: 0.5s;
        overflow: hidden;
        backdrop-filter: blur(20px); /* 블러 효과 */
        /* padding: 60px 0; */
        
    }
        /* => menu_btn에 마우스를 올리면 menu_wrap이 나타남 */
 
    .menu_btn_wrap h2{
        /* padding-top: 20px; */
        margin-top: 80px;
        margin-left: 20px;
        font-size: 60px;
        font-family: "Belanosima", sans-serif;
    }

    .menu_btn_wrap a{
        color: #d41935;
    }

    #check_input:checked ~ .menu_btn_wrap{
        height: 100vh;
    }

}

/* header end */

.sec_1{
    height: 110vh;
}

.sec_1_bg{
    padding-top: 110px;
    position: relative;
}

.title_1{
    position: absolute;
    top: 630px;
    left: 0;
    z-index: 20;
}

.title_3{
    position: absolute;
    top: 700px;
    left: 30px;
    z-index: 20;
}

.left_btn{
    width: 300px;
    position: absolute;
    top: 754px;
    right: 140px;
    z-index: 20px;
}

.left_btn img {
  transition: transform 0.3s ease; /* 부드럽게 움직이도록 */
}

/* title_1 위에 마우스를 올렸을 때 left_btn 이미지 이동 */
.title_1:hover ~ .left_btn img {
  transform: translateX(20px); /* 오른쪽으로 20px 이동 */
}

/* .title_1:hover .left_btn{
    right: 110px;
} */

.mo_section_1{
    display: none;
}



@media screen and (max-width: 768px){

    .mo_section_1{
        display: block;
    }

    .section_1{
        display: none;
    }

    .sec_1_bg{
        padding-top: 80px;
    }
}

/* sec_1 end */

.sec_2_title h3{
    font-family: "Belanosima", sans-serif;
    font-size: 100px;
    font-weight: 400;
    color: #1d1d1d;
}

.sec_2_title p{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -3px;
    line-height: 50px;
    color: #1d1d1d;
    opacity: 0.7;
    margin-top: 20px;
}

.sub_title_2{
    display: flex;
    justify-content: space-between
}

.btn_2{
    width: 229px;
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    
}


.women{
  width: 119px; /* men/accessory는 각자 조절 */
  height: 40px;
  border-radius: 50px;
  font-size: 20px;
  letter-spacing: -2px;
  line-height: 40px;
  text-align: center;
  background-color: #d41935;
            /* 글자만 반투명 */
}

.women h4{
    color: #fff; 
}

.men{
  width: 90px; /* men/accessory는 각자 조절 */
  height: 40px;
  border: 1px solid rgba(29,29,29,0.5);   /* 불투명 대신 rgba */
  border-radius: 50px;
  font-size: 20px;
  letter-spacing: -2px;
  line-height: 40px;
  text-align: center;
  color: rgba(29,29,29,0.5);              /* 글자만 반투명 */
  background: transparent;
  transition: background-color .2s, color .2s, border-color .2s;
}

/* 텍스트가 <a> 자식일 때 상속 보장 */
.men a, .accessory a { 
  color: inherit; 
  text-decoration: none; 
  display: block; 
}

/* hover/focus/active 상태 */

.men:hover,
.men:focus,
.men.is-active{
  background: #d41935;
  border-color: transparent;   /* border 없애면 크기 튀니 투명으로 */
  color: #fff;
}


/* ----con_2------ */

.con_wrap_2{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
}

.con_2{
    font-family: "Noto Sans KR", sans-serif;
    color: #1d1d1d;
    letter-spacing: -1px;
}

.con_2_img_wrap {
  position: relative;
  /* width: 100%;
  height: 500%; */
  /* width: 370px;    */
  height: 454px;
  overflow: hidden;
}

.con_2_img_wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.4s ease;
}


.con_2_img_wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.con_2_img_wrap .hover_2 {
  opacity: 0; /* 기본적으로 안보이게 */
}

.con_2_img_wrap:hover .hover_2 {
  opacity: 1; /* 호버하면 나타나게 */
}

.con_2_img_wrap:hover .sec_2_img {
  opacity: 0; /* 기본 이미지는 사라지게 */
}

.con_title_2{
    margin-top: 16px;
}

.con_title_2 h4{
    font-size: 16px;
    font-weight: 500;  
    opacity: 0.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.con_title_2 p{
    margin-top: 12px;
    font-size: 20px; 
    font-weight: 700;  
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-size: 60px;
  --swiper-navigation-sides-offset: 1.5%;
  --swiper-navigation-color: #d41935;
}

.mo_con_wrap_2{
    display: none;
}

@media screen and (max-width: 1700px){
    .con_title_2 h4{
        -webkit-line-clamp: 1;
        line-clamp: 1;
    }
}

@media screen and (max-width: 768px){

    .sec_2_title h3{
        font-size: 40px;
        letter-spacing: -3px;
    }

    .sec_2_title p{
        font-size: 18px;
        line-height: 23px;
        margin-top: 10px;
    }

    .sub_title_2{
        display: unset;
    }

    .btn_2{
        width: 114px;
        margin-top: 20px;
    }

    .women{
        width: 60px;
        height: 25px;
        font-size: 12px;
        letter-spacing: -1px;
        line-height: 25px;
    }

    .men{
        width: 44px;
        height: 25px;
        font-size: 12px;
        letter-spacing: -1px;
        line-height: 25px;
    }

    /* -----con_wrap_2 모바일버전으로 스와이퍼 다시하기-------- */

    .con_wrap_2{
        display: none;
    }

    .swiper .mo_sec_2{
        display: block;
    }

    .mo_con_wrap_2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 18px;
        margin-top: 30px;
    }

    .mo_con_title_2 h4{
        margin-top: 15px;
        font-size: 12px;
        font-weight: 500;  
        opacity: 0.5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .con_title_2 p{
        margin-top: 12px;
        font-size: 20px; 
        font-weight: 700;  
    }

    .swiper-pagination-bullet-active:first-child,
    .swiper-pagination-bullet-active:nth-child(2),
    .swiper-pagination-bullet-active:nth-child(3),
    .swiper-pagination-bullet-active:last-child{
        background: #d41935;
    }

    .swiper-pagination-horizontal{
        margin-bottom: -9px;
    }

    .mo_sec_2 {
        min-height: 460px;/* 이미지+불릿 합친 높이만큼 */
     }

    .men:hover, .accessory:hover{
        background: transparent;
        border-color: rgba(29,29,29,.5);
        color: rgba(29,29,29,.5);
    }

}

@media screen and (max-width: 533px){
    .mo_con_title_2 h4{
        -webkit-line-clamp: 1;
        line-clamp: 1;
    }
}

@media screen and (max-width: 400px){

    .mo_sec_2 {
        min-height: 320px;/* 이미지+불릿 합친 높이만큼 */
    }

    .mo_con_wrap_2{
        margin-top: 30px;
    }

    .mo_con_title_2 h4{
        margin-top: 10px;
        font-size: 12px;
        -webkit-line-clamp: 1;
        line-clamp: 1;
    }

    .mo_con_title_2 p{
        margin-top: 8px;
        font-size: 14px;
        font-weight: 700;   
    }


}


/* sec_2 end */

.con_3{
    position: relative;
}

.bg_3{
    width: 100%;
    min-height: 822px;
    background-color: #d41935;
    margin-top: 117px;
}

.bg_3 h3{
    font-family: "Belanosima", sans-serif;
    font-size: 100px;
    font-weight: 400;
    color: #fff;
    display: flex;
    justify-content: right;
    padding: 80px 100px;
    /* padding-left: 1546px; */
}

.yoga_1{
    width: 548px;
    position: absolute;
    top: 267px;
    left: 0;
}

.yoga_2{
    width: 626px;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 150px;
    left: 286px;
}

.title_3{
    display: flex;
    justify-content: space-between;
}

.sub_title_3{
    padding-top: 100px;
    padding-left: 800px;
    font-family: "Noto Sans KR", sans-serif;
}

.sub_title_3 h4{
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    letter-spacing: -5px;
}

.sub_title_3 p{
    font-size: 35px;
    font-weight: 300;
    color: #fff;
    line-height: 42px;
    letter-spacing: -5px;
    margin-top: 10px;
}

.more_btn{
    background-color: #fff;
    width: 250px;
    height: 80px;
    border-radius: 50px;
    margin-top: 170px;
    margin-left: 230px;
    position: relative;
    overflow: hidden;
}

.bar, .bar2{
    width: 0%;
    height: 100%;
    border-radius: 50px;
    background-color: rgb(255, 154, 176);
    transition-duration: 0.5s;
    position: absolute;
    top: 0;
}

.bar{
    right: 0;
}

.bar2{
    transition-delay: 0.2s;
    left: 0;
}


.more_btn h2{
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
    color: #d41935;
    line-height: 80px;
    letter-spacing: -1px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.more_btn:hover .bar{
    width: 100%;
}

.more_btn:hover .bar2{
    width: 100%;
    background-color: rgb(255, 203, 209);
}

.more_btn:hover h3{
    color: white;
}

.mo_section_3{
    display: none;
}

@media screen and (max-width: 1700px){
    
    .more_btn{
        background-color: #fff;
        width: 30%;
    }

}

@media screen and (max-width: 768px){
    .section_3{
        display: none;
    }

    .mo_section_3{
        display: block;
        overflow: hidden;
    }

    .mo_bg_3{
        height: 555px;
        background: url(../img/section_3/Frame\ 14.png) no-repeat center / cover;
    }

    .mo_bg_3 h3{
        display: flex;
        justify-content: right;
        font-family: "Belanosima", sans-serif;
        font-size: 40px;
        font-weight: 400;
        color: #fff;
        padding-top: 40px;
    }

    .mo_title_3{
        width: 188px;
        display: flex;
        flex-direction: column;
        padding-top: 260px;
        padding-left: 150px;
    }
    
    .mo_sub_title_3{
        grid-area: title;
        display:flex;
        flex-direction:column;
        justify-content:center;
        gap: clamp(10px, 2.5vw, 18px)
    }

    .mo_sub_title_3 h4{
        display: flex;
        justify-content: right;
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        letter-spacing: -2px;
    }

    .mo_sub_title_3 p{
        display: flex;
        justify-content: left;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        line-height: 20px;
        letter-spacing: -2px;
        margin-top: 10px;
        text-align: left;
    }

    .mo_more_btn{
        width: 40%;
        margin-top: clamp(8px, 6vw, 16px);
        padding: 10px 16px;
        border-radius:999px;
        background:#fff; color:#D51B2B;
        font-size: 10px;
        font-weight:700; border:0;
        text-align: center;
    }

}

/* sec_3 end */

.section_4{
    display: flex;
    justify-content: space-between;
    position: relative;
}


.con_left_4 h3{
    font-family: "Belanosima", sans-serif;
    font-size: 100px;
    font-weight: 400;
    color: #1d1d1d;
    padding-left: 100px;
}

.con_left_4 p{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -3px;
    line-height: 50px;
    color: #1d1d1d;
    opacity: 0.7;
    margin-top: 20px;
    padding-left: 100px;
}

.btn_4{
    width: 396px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 100px;
}



.accessory{
  width: 147px; /* men/accessory는 각자 조절 */
  height: 40px;
  border: 1px solid rgba(29,29,29,0.5);   /* 불투명 대신 rgba */
  border-radius: 50px;
  font-size: 20px;
  letter-spacing: -2px;
  line-height: 40px;
  text-align: center;
  color: rgba(29,29,29,0.5);              /* 글자만 반투명 */
  background: transparent;
  transition: background-color .2s, color .2s, border-color .2s;
}

.accessory:hover,
.accessory:focus,
.accessory.is-active{
  background: #d41935;
  border-color: transparent;   /* border 없애면 크기 튀니 투명으로 */
  color: #fff;
}

.bg_4{
    position: absolute;
    /* width: 36.5%; */
    top: 500px;
    left: 0;
}


.bg_4 img{
    width: 100%;
    /* margin-top: 200px; */
}

/* -------right -------- */

.con_right_4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
    column-gap: 30px;
    padding-right: 100px;
    margin-bottom: 80px;
}

.con_4{
    /* width: 22%; */
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -1px;
    color: #1d1d1d;
}

.con_4_img_wrap {
  position: relative;
  width: 415px;
  height: 500px;
  /* width: 100%;
  padding-top: 120%; */
  overflow: hidden;
}

.con_4_img_wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.4s ease;
}

.con_4_img_wrap .hover_4 {
  opacity: 0; /* 기본적으로 안보이게 */
}

.con_4_img_wrap:hover .hover_4 {
  opacity: 1; /* 호버하면 나타나게 */
}

.con_4_img_wrap:hover .con_4_img {
  opacity: 0; /* 기본 이미지는 사라지게 */
}

.con_title_4 h4{
    font-size: 18px;
    font-weight: 500;
    opacity: 0.5;
    margin-top: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.con_title_4 p{
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
}

@media screen and (max-width: 1700px){

    .con_right_4{
        row-gap: 0px;
    }

}


@media screen and (max-width: 768px){

    .section_4{
        /* display: unset; */
        position: relative;
        min-height: 1120px;
    }

    .con_left_4 h3,
    .con_left_4 p,
    .btn_4,
    .con_right_4{
        padding: 0 20px;
    }

    .con_left_4 h3{
        font-size: 40px;
        letter-spacing: -3px;
    }

    .con_left_4 p{
        font-size: 18px;
        line-height: 23px;
        margin-top: 10px;
    }

    .btn_4{
        width: 202px;
        margin-top: 20px;
    }

    .accessory{
        width: 78px;
        height: 25px;
        font-size: 12px;
        letter-spacing: -1px;
        line-height: 25px;
    }


    .bg_4 img{
        margin-top: unset;
    }

    .con_right_4{
        /* width: 100%; */
        position: absolute;
        top: 265px;
        left: 0;
        row-gap: 30px;
        column-gap: 18px;
    }

    .con_title_4 h4{
        font-size: 12px;
        margin-top: 15px;
        -webkit-line-clamp: 1;
        line-clamp: 1;
    }

    .con_title_4 p{
        font-size: 14px;
        margin-top: 10px;
    }
    
    .men:hover, .accessory:hover{
        background: transparent;
        border-color: rgba(29,29,29,.5);
        color: rgba(29,29,29,.5);
    }

      .con_4_img_wrap .hover_4 {
        opacity: 0 !important;  /* 항상 숨김 */
    }
    .con_4_img_wrap .con_4_img {
        opacity: 1 !important;  /* 항상 기본 이미지 */
    }
        
}

@media screen and (max-width: 600px){
    .section_4{
        min-height: 920px;
    }
}

@media screen and (max-width: 500px){
    .section_4{
        min-height: 820px;
    }
}

@media screen and (max-width: 400px){
    .section_4{
        min-height: 720px;
    }

    .bg_4{
        top: 220px;
    }

    .con_title_4 h4{
        margin-top: 15px;
    }

    .con_title_4 p{
        font-size: 14px;
        margin-top: 8px;
    }

    .con_4_img_wrap {
        width: 100%;      /* 부모 그리드/화면 가로폭 꽉 차게 */
        height: auto;     /* 높이 자동 */
        aspect-ratio: 5/6; /* 비율 유지 (최신 브라우저) */
    }
    .con_4_img_wrap img {
        position: relative; /* absolute 빼줘야 함 */
        width: 100%;
        height: auto;       /* 가로폭에 맞춰 세로 자연스레 줄어듦 */
    }


}


/* sec_4 ing */


.section_5{
    padding-top: 80px;
    position: relative;
}

.bg_5 h3{
     font-family: "Bebas Neue", sans-serif;
     font-size: 200px;
     font-weight: 400;
     line-height: 160px;
     letter-spacing: -5px;
     position: absolute;
     top: 240px;
     left: 810px;
}

.sub_title_5{
    position: absolute;
    bottom: 42px;
    right: 100px;
}

.btn_5{
    width: 163px;
    margin-bottom: 40px;
    margin-left: 394px;
}


.sub_title_5 p{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -6px;
    color: #fff;
    text-align: right;
}

.sub_title_5 span{
    font-weight: 700;
    color: #1d1d1d;
}

.mo_section_5{
    display: none;
}

@media screen and (max-width: 1700px){

    .bg_5 h3{
        font-size: 180px;
        line-height: 140px;
        top: 200px;
        left: 710px;
    }

    .sub_title_5 p{
        font-size: 40px;
        line-height: 50px;
    }
}

@media screen and (max-width: 768px){
    .section_5{
        display: none;
    }

    .mo_section_5{
        display: block;
        position: relative;
        padding-top: 80px;
        overflow: hidden;
    }
    
    .bg_5 h3{
        font-size: 120px;
        line-height: 85px;
        top: 340px;
        left: 260px;
    }

    .sub_title_5{
        right: 70px;
    }

    .btn_5{
        width: 120px;
        margin-bottom: 40px;
        margin-left: 394px;
    }

    .sub_title_5 p{
        font-size: 40px;
        line-height: 45px;
    }

}

@media screen and (max-width: 400px){

    .sub_title_5{
        bottom: 20px;
        right: 0;
    }

    .btn_5{
        width: 82px;
        margin-bottom: 10px;
        /* margin-left: 294px; */
    }

    .bg_5 h3{
        font-size: 70px;
        line-height: 55px;
        top: 43%;
        left: 32%;
        letter-spacing: -1px;
    }

     .sub_title_5 p{
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -2px;
    }

}

/* sec_5 end */


.section_6 h3{
    font-family: "Belanosima", sans-serif;
    font-size: 100px;
    font-weight: 400;
    color: #1d1d1d;
    padding-left: 100px;
}

/* .sec_6{
    margin-top: 60px;
} */

.wrap .bx-wrapper{
    -webkit-box-shadow:none;
    box-shadow:none;
    border:none;
    margin-top: 60px;
    cursor: pointer;
}

.bxslider2{
    display: none;
}

@media screen and (max-width: 768px){
    .section_6 h3{
        font-size: 40px;
        padding-left: 20px;
    }

    /* .sec_6{
        margin-top: 40px;
    } */

    .bxslider1{
        display: none;
        
    }

    .bxslider2{
        display: block;
        cursor: pointer;
    }

    .wrap .bx-wrapper{
        margin-top: unset;
    }

}
/* sec_6 end */

footer{
    margin-top: 300px;
    background-color: #d41935;
    display: flex;
    justify-content: space-between;
}

.footer_title h3,
.footer_sub h3{
    font-family: "Belanosima", sans-serif;
    font-size: 100px;
    font-size: 400;
    letter-spacing: -3px;
    color: #fff;
    padding-top: 60px;
}

.officehours{
    display: flex;
    justify-content: space-between;
}

.korea h3,
.korea p,
.hours h3{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 20px;
    color: #fff;
}

.hours{
    text-align: right;
}

.korea p,
.hours p{
    margin-top: 10px;
}

.hours p{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.footer_title img{
    width: 250px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.footer_sub h4{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    letter-spacing: -2px;
    line-height: 20px;
    margin-top: 60px;
    margin-right: 5px;
    text-align: right;
}

.sns{
    width: 134px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 430px;
    text-align: right;
}

.sns img{
    width: 32px;
}

@media screen and (max-width: 768px){

    footer{
        margin-top: 80px;
    }

    .footer_title h3,
    .footer_sub h3{
        font-size: 35px;
        padding-top: 30px;
        letter-spacing: 0px;
    }

    .korea{
        display: none;
    }

    .hours{
        margin-left: 80px;
    }

    .hours h3{
        font-size: 18px;
        line-height: 18px;
    }

    .hours p{
        font-size: 14px;
        line-height: 14px;
    }

    .footer_title img{
        width: 80%;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .footer_sub h4{
        display: none;
    }


    .sns{
        width: 50%;
        margin-top: 30px;
        margin-left: auto;
    }
}

@media screen and (max-width: 400px){

    footer{
        margin-top: 80px;
    }

    .footer_title h3,
    .footer_sub h3{
        font-size: 20px;
        padding-top: 30px;
        letter-spacing: 0px;
    }

    
    .hours{
        margin-left: unset;
    }

    .hours h3{
        font-size: 14px;
        line-height: 14px;
    }

    .hours p{
        font-size: 10px;
        line-height: 10px;
    }

    .footer_title img{
        width: 90%;
        margin-top: 30px;
        margin-bottom: 20px;
    }


    .sns{
        width: 90%;
        margin-top: 30px;
        margin-left: auto;
    }
}