@import url(reset.css);
@import url(common.css);
/* 
.web_bg{
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2; 
} */

.wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.web_bg img {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.web_contents {
  width: 100%;
  position: fixed;
}

.web_con {
  position: absolute;
  top: 18px;
  left: 541px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 20px;
}

.web_logo {
  width: 150px;
}

.web_menu_wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.web_menu a {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: filter 0.3s;
  transform: scale(0.9);
}

.web_menu h4 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -2px;
  margin: 0;
}

.web_menu a:hover {
  filter: invert(48%) sepia(80%) saturate(2835%) hue-rotate(8deg)
    brightness(100%) contrast(101%);
}

/* 웹용 푸터 시작 */
.web_footer_wrap {
  position: absolute;
  top: 765px;
  left: 541px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.web_footer_title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.web_footer_title h3 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #1d1d1d;
}

.web_footer_sub a {
  display: flex;
}

.web_footer_sub h4,
.familysite h4 {
  font-size: 12px;
}

.sub_1 {
  color: #bebebe;
  font-weight: 600;
}

.sub_2 {
  margin-left: 2px;
  font-weight: 600;
}

/* .familysite {
  border: 1px solid #bebebe;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
} */

select {
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  border: 1px solid #bebebe;
  border-radius: 10px;
}
/* .site_box {
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
} */

/* .family_menu {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 10px;
} */

/* 큐얼부분시작 */
.qr_wrap {
  position: absolute;
  top: 780px;
  right: 450px;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #bebebe38;
  padding: 10px 12px;
  border-radius: 15px;
}

.qr_title {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.qr_title h3 {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -1px;
}

.qr_title p {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -1px;
  color: #a6a6a6;
}

.qr_img_wrap {
  display: flex;
  gap: 6px;
}

/* 모바일부분 */

.mobile_wrap {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

header {
  max-width: 400px;
  width: 100%;
  height: 60px;
  background-color: white;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  width: 115px;
}

.header_icons {
  width: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.down_kr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.down_kr p {
  font-size: 14px;
  font-weight: 700;
}

.down_kr img {
  width: 18px;
  margin-left: 8px;
}

@media screen and (max-width: 1920px) {
  .logo {
    display: none;
  }

  .web_logo img {
    width: 150px;
  }

  .header_icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .search {
    margin-right: 10px;
  }
}

@media screen and (max-width: 900px) {
  .logo {
    display: block;
  }

  .web_contents {
    display: none;
  }

  .web_bg {
    display: none;
  }

  body {
    background-color: unset;
  }
}

/* header end */

.navigation_wrap {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 100;
  padding: 16px 32px;
  border-radius: 30px;
  background-color: #ffffff;
  display: none;
}

.navigation_menu {
  display: flex;
  gap: 28px;
}

.na_con {
  width: 38px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

.na_con p {
  font-size: 10px;
  font-weight: 500;
}

.na_con a:hover {
  filter: invert(48%) sepia(80%) saturate(2835%) hue-rotate(8deg)
    brightness(100%) contrast(101%);
}

@media screen and (max-width: 900px) {
  .navigation_wrap {
    display: block;
  }
}

.section_1 {
  padding-top: 60px;
}

.tangle {
  width: 100%;
  height: 300px;
  border-radius: 30px;
  overflow: hidden;
  margin: 0 auto;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* sec_1 end */

.section_1_2 {
  padding-top: 30px;
}

.sec_1_2 .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.samyang_food a {
  width: 90px;
  height: 35px;
  font-size: 12px;
  color: #bebebe;
  font-weight: 500;
  border: 1px solid #bebebe;
  border-radius: 26px;
  text-align: center;
  line-height: 29px;
  padding: 1.5px 15px;
  transition: 0.5s;
}

.samyang_food a:hover {
  background-color: #ff6400;
  color: #ffffff;
  border: unset;
}

.samyang_ramen a {
  width: 90px;
  height: 35px;
  font-size: 12px;
  font-weight: 500;
  background-color: #ff6400;
  color: #ffffff;
  text-align: center;
  line-height: 29px;
  padding: 1.5px 15px;
  border-radius: 26px;
}

.section_1_2_food {
  padding-top: 40px;
  /* margin: 0 20px; */
}

.sec_1_2_food .swiper-slide img {
  text-align: center;
  line-height: 32px;
}

.ramen {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
}

/* sec_1_2_ing */

.sec_2_con_wrap {
  padding-top: 30px;
}

.con_2_wrap {
  height: 365px;
}

.box_2_wrap {
  /* background-color: #fefdbd; */
  height: 100%;
  position: relative;
}

.big_icon img {
  width: 146px;
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 20;
  transform: translateX(-50%);
}

.c_img_2 {
  margin-top: -28px;
}

.c_img_3 {
  margin-top: 12px;
}

.c_img_5 {
  margin-top: 8px;
}

.box_2 {
  width: 100%;
  height: 170px;
  border-radius: 20px;
  background-color: #ff6400;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 20px;
}

.text_wrap {
  text-align: center;
  padding-top: 40px;
}

.text_wrap h3 {
  font-size: 16px;
}

.text_wrap h4 {
  font-size: 14px;
  padding-top: 18px;
}

.text_wrap h3,
.text_wrap h4 {
  color: #ffffff;
  font-weight: 600;
}

.text_wrap p {
  font-size: 10px;
  font-size: 400;
  color: #e9e9e9;
}

.tag_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 18px;
}

.tag_wrap h5 {
  padding: 4px 8px;
  border-radius: 30px;
  background-color: white;
  font-size: 12px;
  color: #1d1d1d;
  opacity: 0.7;
  font-weight: 500;
}

.btn_2_wrap {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.btn_2 {
  width: 130px;
  height: 40px;
  border: 2px solid #ff6400;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_2_wrap a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -1px;
}

/* sec_2_end */

.sec_3_imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 22px;
}

.time_img {
  position: relative;
}

.sec_3_imgs h4 {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ff6400;
}

.two h4 {
  color: #ffcc00;
}

.three h4 {
  color: #fefdbd;
}

.four h4 {
  color: #ffffff;
}

/* sec_3_end */

.sec_4_img {
  position: relative;
}

.white {
  margin-top: 10px;
}

.sec_4_w {
  position: absolute;
  top: 28px;
  left: 28px;
}

.store h3,
.custmor h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -1px;
}

.store p,
.custmor p {
  font-size: 12px;
  font-size: 400;
  margin-top: 11px;
  line-height: 18px;
  letter-spacing: -1px;
  opacity: 0.5;
}

.store h3,
.store p {
  color: #ffffff;
}
.custmor p {
  color: #1d1d1d;
}

/* sec_4_end */

.sec_5 {
  margin-top: 15px;
}

.sec_5 .swiper-slide {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-right: -3px;
}

.samyang_food a {
  width: 90px;
  height: 35px;
  font-size: 12px;
  color: #bebebe;
  font-weight: 500;
  border: 1px solid #bebebe;
  border-radius: 26px;
  text-align: center;
  line-height: 29px;
  padding: 1.5px 15px;
  transition: 0.5s;
}

.samyang_ramen a {
  width: 90px;
  height: 35px;
  font-size: 12px;
  color: #ffffff;
  background-color: #ff6400;
  font-weight: 500;
  border-radius: 26px;
  text-align: center;
  line-height: 29px;
  padding: 1.5px 15px;
}

.samyang_food a:hover {
  background-color: #ff6400;
  color: #ffffff;
  border: unset;
}

.faq {
  margin-top: 50px;
  padding: 0 20px;
}

.con_5 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 28px;
  cursor: pointer;
}

.con_5 h2 {
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -1px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.plus,
.minus {
  width: 30px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.minus {
  display: none;
}

.con_5_line {
  border: 1px solid #1d1d1d;
  margin-top: 25px;
  opacity: 0.05;
}

/* sec_5_end */

footer {
  margin-top: 80px;
  padding: 20px 10px 0 20px;
  height: 150px;
  background-color: #ff6400;
}

.footer_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_logo img {
  width: 115px;
}

.sns_wrap a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sns_wrap img {
  width: 100%;
  margin-right: 10px;
}

.copy {
  font-size: 10px;
  color: #ffffff;
  opacity: 0.5;
  padding-top: 80px;
}

@media screen and (max-width: 1920px) {
  footer {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  footer {
    display: block;
  }
}
